.filter {
  position: absolute;
  top: 10px;
  left: 380px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  padding: 16px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(221, 211, 211);
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.header span {
  width: 100%;
  text-align: center;
}
